.logo{
    margin-left: auto;
    margin-right: auto;
}

.corpoCards{
    margin-left: 45px;
}

.corpoCards h5{
    text-decoration: line-through;
    color: #9a9999;
    font-weight: bold;
    font-size: 22px;
}

    .corpoCards h3{
        color:#ff8a0f ;
        font-weight: bold;
        font-size: 30px;
    }

    .btnComprarJa{
        background-color: #40bdcf;
        color: white;
        font-weight: bold;
    }

    .cards{
        -webkit-box-shadow: 2px 3px 8px 6px rgba(64,189,207,0.44); 
box-shadow: 2px 3px 8px 6px rgba(64,189,207,0.44);
    border-radius: 25px;
    }

    .bannerOne{
        margin-top: -5px;
    }

    .promoOne{
        margin-top: -120px;
    }

    .footerLaranja{
        background-color: #9a9999 ;
        text-align: center;
        line-height: 2px;
        margin-top: -10px;
    }

   

    .btnVermais{
        margin-left: 450px;
        background-color: #ff8a0f;
        width: 400px;
        height: 70px;
        margin-top: 40px;
        margin-bottom: 70px;
        font-size: 30px;
        border-radius: 25px;
    }

@media screen and (max-width:767px) {
    .prod{
        display: flex;
        flex-direction: column;
    }
    .produtosOnepg{
        margin-left: -50px;
    }

    .cards{
        margin-bottom: 50px;
    }
    .promoOne{
        margin-top: -40px;
    }

    .btnVermais{
        margin-left: 85px;
        width: 300px;
        margin-top: -10px;
    }

    .rowProd{
        margin-top: -70px;
    }

    .rowProd1{
        margin-top: -30px;
    }
}